# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
debug.log
*.tfvars
!modules/**/terraform.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local .terraformrc or terraform.rc
.terraformrc
terraform.rc

# Mac Files
.DS_Store
